.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #606060;
  padding: 0.5em;
  margin-bottom: 4em;
}

.nav {
  flex: 1;
  text-align: right;
}

.nav a {
  margin: 0 0.5em;
}

.nav a.active {
  margin: 0 0.5em;
  color: #0070f3;
}

.brand {
  color: #0070f3;
  position: relative;
  display: inline-block;
  line-height: 24px;
  font-size: 24px;
}

.brand::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  display: inline-block;
  background-color: #606060;
  vertical-align: top;
  width: 10px;
  height: 24px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
