html,
body {
  padding: 0;
  margin: 0;
  position: relative;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/**
 * Typography
 **/
html,
body,
div,
p,
a {
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
  font-weight: 600;
  color: #a7a5ad;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}
